<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<title>BBS</title>
<style type="text/css">
	span.error{
		color: red;
	}
</style>
</head>
<body>
<h1>掲示板アプリケーション</h1>

<form th:action="@{/insert-article}" th:object="${articleForm}" method="post">
	<span class="error" th:errors="*{name}" >error!</span><br>
	投稿者名：
	<input type="text" name="name" th:field="*{name}"><br>
	投稿内容：
	<span class="error" th:errors="*{content}" >error!</span><br>
	<textarea name="content" th:field="*{content}" rows="5" cols="50px"></textarea><br>
	<button>記事投稿</button>
</form>

<div th:each="article:${articleList}">
	<hr>
	<div th:text="'投稿ID：'+${article.id}">投稿ID</div>
	<div th:text="'投稿者名：'+${article.name}">投稿名</div>
	<div th:text="'投稿内容：'+${article.content}">投稿内容</div>

	<form th:action="@{/delete}" method="post">
		<input type="hidden" name="articleId" th:value="${article.id}" id="articleId">
		<button>記事削除</button>
		<button type="button" class="iineButton" th:value="${article.id}"><img src="/img/iine.png" width="20px"></button><span th:id="${article.id}"></span>
	</form>
	<br>

<!-- 	<div th:each="comment:${article.commentList}">
		<div th:text="'コメントID'+${comment.id}">コメントID</div>
		<div th:text="'コメント者名'+${comment.name}">コメント者名</div>
		<div th:text="'コメント内容'+${comment.content}">コメント内容</div>
		<br>
	</div>

	<form th:action="@{/insert-comment}" th:object="${commentForm}" method="post">
	<span th:if="*{articleId}==${article.id}">
		<span class="error" th:errors="*{name}" >error!</span><br>
	</span>
		名前：
		<input type="text" name="name" th:field="*{name}"><br>
		コメント：
	<span th:if="*{articleId}==${article.id}">
		<span class="error" th:errors="*{content}" >error!</span>
	</span><br>
		<textarea name="content" th:field="*{content}" rows="5" cols="20px"></textarea><br>
		<input type="hidden" name="articleId" th:value="${article.id}">
		<button>コメント投稿</button>
	</form> -->

</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:src="@{/js/bbs.js}"></script>
</body>
</html>